asgiref
cffi
cryptography
Django
django-cors-headers
django-filter
django-pandas
djangorestframework
djangorestframework-simplejwt
Markdown
packaging
pandas
testresources
Pillow
pip-review
pycparser
PyJWT
PyMySQL
pyparsing
python-dateutil
pytz
six
sqlparse
tzdata